---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <img src="../../../../../images/kinderkram_header.jpg"/>
    <p>Hallo und herzlich willkommen in meinem Blog. Ich bin Katja und noch nicht allzu lange auch Mama einer wunderbaren Tochter. Das ist immer noch ungewohnt, anstrengend aber auch ganz schön schön. Denn dieser kleine Maulwurf entwickelt sich mit riesen Schritten zu einer richtigen kleinen Persönlichkeit und wir sind dabei uns richtig gut kennen zu lernen. Und daran können Sie gerne teilhaben! Von Schlaflosigkeit, Schwabbelbäuchen und Glücksgefühlen.</p>
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>